In [1]:
from FamaFrenchDownloader import FamaFrenchFactor

In [5]:
df_five_fac_monthly = FamaFrenchFactor.get_data(
    annual=True,
    region=["US"],
    factors= 3)

display(df_five_fac_monthly)

            US_Mkt-RF  US_SMB  US_HML  US_RF
1927-12-31      29.47   -2.04   -4.54   3.12
1928-12-31      35.39    4.51   -6.17   3.56
1929-12-31     -19.54  -30.70   11.67   4.75
1930-12-31     -31.23   -5.17  -11.54   2.41
1931-12-31     -45.11    3.70  -13.95   1.07
...               ...     ...     ...    ...
2020-12-31      23.66   12.72  -46.10   0.45
2021-12-31      23.57   -3.78   25.39   0.04
2022-12-31     -21.58   -7.04   25.97   1.43
2023-12-31      21.69   -3.28  -13.70   4.95
2024-12-31      19.78  -11.13   -9.10   5.26

[98 rows x 4 columns]

In [4]:
df_mom_annual = FamaFrenchFactor.get_data(
    annual=True,
    region=["Europe", "North_America", 'Japan'],
    factors="MOM")

display(df_mom_annual)

            Europe_WML  North_America_WML  Japan_WML
1991-12-31       12.62              25.03       1.93
1992-12-31       15.10               6.14      -1.31
1993-12-31        5.53              25.17     -11.70
1994-12-31       -1.74               1.55       2.44
1995-12-31       24.47              16.75     -13.99
1996-12-31       20.99               5.37      -4.74
1997-12-31       11.65              14.20      32.34
1998-12-31       18.15              25.53     -10.27
1999-12-31       36.33              56.33      89.68
2000-12-31      -21.66              -9.83     -24.32
2001-12-31       22.19               5.36      13.57
2002-12-31       43.40              27.11      -2.67
2003-12-31      -15.45             -14.13     -22.35
2004-12-31        9.11               2.02       5.87
2005-12-31       18.58              19.34      23.94
2006-12-31       16.23              -4.11      -2.52
2007-12-31       19.73              21.10       8.98
2008-12-31       14.53               5.42      14.50
2009-12-31      -49.78             -64.19     -37.99
2010-12-31       29.67               7.17      -3.18
2011-12-31        9.24               4.34       4.17
2012-12-31       13.61               4.67       5.65
2013-12-31       25.09              16.19      20.89
2014-12-31        4.32               0.10      -4.74
2015-12-31       19.84              17.06       0.46
2016-12-31        3.40             -17.97     -14.55
2017-12-31        8.67               5.16      15.35
2018-12-31        6.83               8.96      -4.32
2019-12-31       11.61              -0.47      -8.86
2020-12-31       19.62              21.95      11.51
2021-12-31        2.33              -1.00      -9.42
2022-12-31        7.08              14.81      -1.31
2023-12-31       -1.29             -15.37      -0.90
2024-12-31       13.67              14.27       7.37